   *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

/* comienzo styles index */

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
    font-family: 'Roboto', sans-serif;
  }


main{
    flex-grow: 1;
}

.titulares{
    padding: 1rem;
    background-color: black;
    color: wheat;
}

.Logo{
  background-color: aliceblue;
  background-image: url(../img/Rectangle\ 2.png)
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-image {
    min-height: 110vh;
    background-image: url("../img/crossfit2022.jpg");
    background-repeat:no-repeat;
    color: black;
  }

  .hero-image div {
    min-height: inherit;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgba(0, 0, 0, .75);
    text-align: center;
  }

  .hero-image h1 {
    font-size: 5vw;
  }

  .flex-responsive {
    display: flex;
    flex-flow: row wrap;
  }

  .flex-responsive-item {
    border: thin solid #F60;
    flex: 1 1 200px;
  }

  h1{
    color: darkgoldenrod;
  }

/* styles media query menú */

@media screen and (min-width: 1024px){
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    }

/* comienzo styles menú */

.menu{
  list-style-type: none;
  padding: 0;
  color: darkgoldenrod;
  opacity: 1;
}

.menu ul { 
    display: flex;

}

.menu li{
  display: inline-block;
  padding: .5rem;
}

.menu li a{
  color: darkgoldenrod;
  text-decoration:none;
  display: inline-block;
  padding: 10px;

}

.menu li a:hover{
  color:white;
  background-color: darkgoldenrod;
  border-radius: 100%;
}


.container-fluid{
  list-style-type: none;
  background-color: black;
  padding: 0;
  color: darkgoldenrod;
  opacity: 1;
}

.navbar-nav{
  display: flex;
  background-color: black;
}

.nav-item{
  display: inline-block;
  padding: .5rem;
}

.nav-link{
  color: darkgoldenrod;
  text-decoration:none;
  display: inline-block;
  padding: 10px;
}

.nav-item a:hover {
  color:white;
  background-color: darkgoldenrod;
  border-radius: 100%;
}

.social{
  display: flex;  
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
} 

.social p{
  color: darkgoldenrod;
  flex: auto;
} 

.social img{
  background-color: darkgoldenrod;
}

.social li{
  list-style-type: none;
}

@media screen and (max-width: 480px){
  .social ul {
    display: flex;
    flex-direction: row;
    padding-left:44%;
  }
  }

/* comienzo styles programas */

.container{
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 20px 20px; 
  grid-template-areas: 
    ". ."
    ". ."
    ". ."; 
  margin-bottom: 30px;
  justify-items: center;
  }

  .container img:hover{
    transform:scale(1.2,1.2)
  }

section div { 
  border: solid 1px;
  border-color: darkgoldenrod;
  width: 450px;
  padding: 8px;
}

section img{
  width:100%
  
}
  
.container p{
  text-align: left;
  color: aliceblue;
  font-family: 'Roboto', sans-serif;

}

h2{
  color: darkgoldenrod;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  text-align: center;
}

h3{
  color: darkgoldenrod;
}

footer ul{
  display: flex;
  flex-direction: row;
}

/* comienzo styles media query programas */

@media screen and (max-width: 480px){
  .container{
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 10px 10px; 
    grid-template-areas: 
    "."
    "."
    "."
    "."
    "."
    "."; 
  }

h2 {
  align-items: center;
}  
.social p {
  display: none;
  
}

}
/* comienzo styles nutrición */

.frase{
text-align: center;
}

.container2 p {
  color: whitesmoke;
}

.container2{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 20px 20px; 
    grid-template-areas: 
      ". ."
      ". ."; 
    margin-top: 30px;
    margin-bottom: 30px;
    justify-items: center;
  }


  /* comienzo styles media query nutrición */

  @media screen and (max-width: 480px){

.container2{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
  "."
  "."
  "."
  ".";
  }

  h2 {
    font-size: 25px;
    text-align: center;
  } 

  h3{
    font-size: 15px;
  }
  
  p{
    font-size: 15px;
  }

  .social p {
    display: none;
    
  }
}

/* comienzo styles sobre nosotros */

.frase2{
  text-align: center;
  }

  .container3 {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      ". ."
      ". .";
    margin-top: 30px;
    margin-bottom: 30px;
    justify-items: center;
  }
  
  .container3 img:hover{
    transform:scale(1.2,1.2)
  }

  .container3 p {
    color: whitesmoke;
  }

  /* comienzo styles media query sobre nosotros */

  @media screen and (max-width: 480px){

  .container3 {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 30px 30px;
    grid-auto-flow: row;
    grid-template-areas:
      "."
      "."
      "."
      "."
      "."
      ".";
  }
  }

  /* comienzo styles sumate */

  .carousel-item img{ 
    width: 431px;
    height: 400px;
  }

  .carousel{
    margin-bottom: 100px;
    padding: 60px;
  }

  .textosumate{
    background-color: black;
    opacity: 0.5;    
    font-weight: bold;
    color:whitesmoke;
    font-family: 'Roboto', sans-serif;
    }

  .carousel-caption{
    width: 500px;
    height: 70px;
    margin-left: 180px;

  }

   /* comienzo styles media query sumate */

   @media screen and (max-width: 480px){
    
    .carousel-inner img{
      left:0;
      top:0;
      height:50%;
      width:50%;     
    }

   }


  /* comienzo styles contacto */

  .contacto{
    margin-top: 50px;
    width: 450px;
    border-color: black;
  }

  .mapa{
    margin-top: 50px;
    margin-right: 50px;
    width: fit-content;
    border-color: black;
  }

  .container6 {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      ". .";
    margin-top: 20px;
    margin-bottom: 20px;
    justify-items: center;
    
  }
  
  /* comienzo styles media query contacto */

  @media screen and (max-width: 480px){
    .container6 {  display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0px 0px;
      grid-auto-flow: column;
      grid-template-areas:
        "."
        ".";
      }
    
    .mapa iframe{
      left:0;
      top:0;
      height:100%;
      width:100%;    
    }
  } 
    
    