@mixin cont(){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      ". ."
      ". .";
    margin-top: 30px;
    margin-bottom: 30px;
    justify-items: center;
    }
    .container2 p {
        color: $thirdcolor;   
        }
        .container img:hover{
            transform:scale(1.2,1.2);
} 


/* comienzo styles cards programas */

.container{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 20px 20px; 
    grid-template-areas: 
    ". ."
    ". ."
    ". ."; 
    margin-bottom: 30px;
    justify-items: center;
    & p{
        text-align: left;
        color: aliceblue;
        font-family: $primaryfont;
        img:hover{
            transform:scale(1.2,1.2)
}
}
}

section div { 
border: solid 1px;
border-color: $secondarycolor;
width: 450px;
padding: 8px;
 img{
width:100%
}
}


/*  card nutrición y sobre nosotros*/
  
.container2{ 
@include cont();
}
    
.textonutri{
  display: flex;
  flex-direction: row;
  margin: 20px;
  margin-left: 200px;
  
  }
  
.sinbordes{
  border: none;  
  border-color: black;
  
  }
 

/* comienzo carousel sumate */

.carousel{
    margin-bottom: 100px;
    padding: 60px;
    .carousel-item img{ 
        width: 431px;
        height: 400px;
        .carousel-caption{
            width: 500px;
            height: 70px;
            margin-left: 180px;
        }
    }  
}
  
.previo{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-right: 170px;
  margin-left: 100px;
}

.elementor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 20px;
    grid-template-areas:
      ". ."
      ". .";
  }
  
  /* comienzo card contacto */

.contacto{
    margin-top: 50px;
    width: 450px;
    border-color: $primarycolor;
  }
  
.mapa{
    margin-top: 50px;
    margin-right: 50px;
    width: fit-content;
    border-color: $primarycolor;
  }
  
.container6 {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      ". .";
    margin-top: 20px;
    margin-bottom: 20px;
    justify-items: center;
    
  }
  
  .galeriagrid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      margin: 0px;
      padding: 0px;
      grid-template-areas:
        ". . ."
        ". . ."
        ". . .";
    }

   .bordergaleria:hover{
    border: none;
    filter: grayscale(1);
    transition: all 0.3s ease;
    margin: 0px;
   } 
